<div class="row">
  <div class="col-12">
    <div class="jumbotron mt-5">
      <h1 class="display-4 text-center">{{ ticket.name }}</h1>
      <p class="lead text-center">{{ ticket.description }}</p>
      <hr class="my-4">
      <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->

      <div class="form-row text-center">
        <div class="col-12">
          <!--<button (click)="loadRelations()" [disabled]="relationsLoaded"  class="btn btn-primary btn-sm">Load More information</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
